.content {
    padding-left: 20px;
    padding-right: 20px;
}


.wrapper {
    position: relative;

    display: grid;
    grid-template-areas:
            "cover cover cover"
            "player player player";
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    justify-items: center; 

    padding: 10px;
    width: 300px;

    border-radius: 10px;
    background-color: var(--prymari-opacity1);

    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-items: center;
    gap: 20px;
}

.title {
    grid-area: title;
}

.cover {
    width: 280px;
    height: 280px;
    border-radius: 10px;
    grid-column: 1 / -1;
    grid-area: cover;
    border-right: 10px;
    overflow: hidden;

    /* background-color: var(--prymari-dark); */
}


.trackControls {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    width: 100%;
    grid-column: 1/ -1;
    border-radius: 5px;
    padding: 3px;
}

.trackTitle {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    text-align: center;
    font-size: 16px;
    border-bottom: 4px double var(--text-color);
    padding-bottom: 10px;
}

.artist a {
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.artist a:hover {
    color: var(--prymari-white);
}

.player {
    display: grid;
    row-gap: 10px;
    grid-area: player;
    padding-top: 0;
    width: 100%;
}

.playerControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playerTimer {
    width: 100%;
    font-size: 16px;
    text-align: left;
}

.playerTimer:nth-child(3) {
    text-align: right;
}

.playerControlButton {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.controlButton {
    display: grid;
    justify-items: center;
    align-content: center;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    padding: 0;
}

.controlButton svg {
    fill: #3b3b3b;
}

input[type="range"] {
    accent-color: var(--prymari-dark);
}

@media(min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
}