.page {
  background-color: transparent;
  /* margin-top: var(--gap); */
}

.container {
  padding: 10px;
  display: grid;
  justify-items: center;
  gap: 10px;
}

.disclamer {
  padding: 10px;
  color: white;
}

.picture {
  width: 280px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
}

.controls {
  display: grid;
  width: 100%;
  gap: 5px;
  align-items: center;
  grid-template-columns: 20px min-content 20px 20px;
}

.likeBtn {
  width: 20px;
  height: 20px;
  background-color: var(--prymari);
  border: 1px solid var(--border-prymari);
  border-radius: 4px;
}

.likeCount {
  display: grid;
  justify-content: center;
  min-width: 30px;
}

.likeCount {
  font-weight: normal;
}

.desc {
  padding: 5px;
  font-size: 18px;
  color: var(--prymari-white);
}

@media(min-width: 620px) {
  .page {
    padding: 10px;
  }

  .picture {
    width: 280px;
    height: min-content;
    border-radius: 10px;
    overflow: hidden;
  }

  .container {
    grid-template-columns: min-content auto;
  }
}

  @media (min-width: 1024px) {
    .page {
      width: 70%;
    }

    .picture {
      width: 240px;
    }
  }
