.page {
  background-color: transparent;
  /* margin-top: var(--gap); */
}

.container {
  padding: 10px;
  display: grid;
  justify-items: center;
  gap: 10px;
}

.disclamer {
  padding: 10px;
  color: white;
}

.picture {
  width: 280px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
}

.desc {
  padding: 5px;
  font-size: 18px;
  color: var(--prymari-white);
}

@media(min-width: 620px) {
  .page {
    padding: 10px;
  }

  .picture {
    width: 280px;
    height: min-content;
    border-radius: 10px;
    overflow: hidden;
  }

  .container {
    grid-template-columns: min-content auto;
  }
}
/* 
  @media (min-width: 768px) {
    .picture {
      width: 320px;
    }
  } */

  @media (min-width: 920px) {
    .picture {
      width: 240px;
    }
  }
