.grid {
    display: grid;
    border: 2px solid black;
}

.gridItem {
    display: grid;
    font-size: 10px;
    color: black;
    outline: none;
    padding: 5px;
}

.wrapper {
    background-color: gray;
    padding: 10px;
    margin: 20px;

    box-shadow: 15px 13px black;
}

.gridItem:hover,
.gridItem:focus {
    background-color:  #0aa;
}

.gridItem img {
    max-width: 100%;
    display: flex;
}

.gridItem figcaption {
    font-size: 5px;
    line-height: 12px;
}


.typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  @media (min-width: 620px) {
    .wrappe {
        width: 70%;
    }
  }



  @media(min-width: 920px) {
    .wrapper {
        width: 75%;
        background-color: gray;
        padding: 10px;
        margin: 10px;

        box-shadow: 15px 13px black;
    }

    .grid {
        border: 2px solid black;
    }
  }