.list {
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
    row-gap: var(--gap);
    padding: 10px;
}

.link {
    display: grid;
    gap: 10px;
    justify-items: center;
    font-size: 14px;
    color: white;
    padding: 6px;
    padding-bottom: 8px;
}

.wrapper {
  padding: 10px;
  margin: 20px;
}

.link:hover,
.link:focus {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    background-color: var(--hover);
}

.link img {
    max-width: 100%;
    display: flex;
}

  @media (min-width: 620px) {
    .list {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
  }

@media (min-width: 920px) {
    .wrapper {
        min-width: 80%;
    }
}
@media (min-width: 1200px) {
    .wrapper {
        margin: auto;
        max-width: 920px;
    }
}