.list {
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
    row-gap: var(--gap);
    padding: 10px;
    background-color: rgba(151, 151, 151, 0.929);
    border: 4px double var(--border-prymari);
}

.link {
    display: grid;
    gap: 10px;
    justify-items: center;
    font-size: 14px;
    color: white;
    padding: 6px 6px 8px;
}

.wrapper {
  margin: 20px;
}

.link:hover,
.link:focus {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.link img {
    max-width: 100%;
    display: flex;
}

  @media (min-width: 620px) {
    .list {
        grid-template-columns: repeat(auto-fit, minmax(190px, 190px));
        gap: 10px;
    }
  }

@media (min-width: 1200px) {
    .wrapper {
        max-width: 920px;
    }
}