.nav {
    grid-row: 2 / 3;
    grid-column: 1 / 3;

    padding: 20px;
}

.navHidden {
    display: none;
}

.menu {
    margin: 0;
    padding: 0 0 20px;
    list-style: none;
    border-radius: 20px;
}

.myWebList {
    margin-top: 20px;
    display: flex;
    padding: 10px 0;

    border-radius: 10px;
}

.myWebList li {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

    border-radius: 5px;
}

.myWebList li:hover {
    background-color: var(--prymari-dark);
}

.myWebList .icon {
    fill: var(--text-color);
}

.myWebList a {
    font-size: 12px;
    font-family: "IBM Plex Mono";
    color: var(--prymari-white);
}

.item {
    position: relative;

    display: flex;
    outline: none;
    width: fit-content;
}

.item:last-child {
    border-bottom: none;
}

.item:hover .icon svg {
    fill: var(--text-color);
}

.icon {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.icon svg {
    fill: var(--prymari-white);
}

.icon:active .icon svg {
    fill: var(--git);
}


.link {
    position: relative;
    display: block;

    padding: 0 25px 25px 15px;

    color: var(--prymari-white);
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .3s;

}

.link:hover,
.link:focus {
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    padding-left: 40px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
}

.link:active {
    color: var(--git);
}

@media (min-width: 620px) {

    .menu {
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    .myWebList {
        border: none;
    }

    .nav {
        display: block;
        grid-column: 2 / -1;
        grid-row: 1 ;
        border-top: none;
    }

    .navHidden {
        display: block;
        padding: 20px;
    }

    .item {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .link {
        padding: 5px;
        justify-content: start;

        font-size: 10px;
    }

    .link:hover {
        padding-left: 5px;
    }

}


@media(min-width: 768px) {
    .link {
        font-size: 14px;
    }
}

@media (min-width: 920px) {
    .nav {
        grid-column: 1 / -1;
        grid-row: 2;

        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .navHidden {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .menu {
        flex-direction: column;
    }

    .myWebList {
        margin-top: auto;
    }

    .item {
        flex-direction: row;
        align-items: center;
    }

    .link {
        color: var(--prymari-white);
        padding: calc(var(--gap) / 2);
        width: 100%;
        font-size: 18px;
    }

    .link:hover {
        padding-left: 40px;
    }
}
