.content {
  padding: 10px;
}

.content ol {
  padding: 0;
}

.content ol li {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  border-bottom: 2px solid var(--prymari-white);
}

.content ol li:nth-child(2n) {
  text-align: right;
}

.css, 
.js {
  display: block;
  padding: 10px;
  font-size: 30px;
  border-bottom: 4px double var(--border-prymari);
}

.css {
  color: var(--css);
}

.js {
  color: #ffd829;
}

.title {
  font-size: 40px;
  position: relative;
  padding: 5px;
  color: var(--prymari-white);
}

.text {
  margin-top: 10px;
  color: var(--border-prymari);
  background-color: rgba(151, 151, 151, 0.929);
  padding: 8px;
  border-radius: 10px;
}

@media (min-width: 620px) {
  .content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .title {
    font-size: 30px;
  }

  .text {
    font-size: 16px;
    height: min-content;
  }
}

@media (min-width: 920px) {
  .content {
    margin: auto;;
  }
}

@media (min-width: 1024px) {
  .content {
    display: grid;
    gap: 20px;
    grid-template-columns: min-content 1fr;
  }

  .title {
    align-self: center;
    font-size: 60px;
  }

  .jsModifer {
    grid-column: 1 / 3;
  }
}