.content {
  padding: 10px;
}

.content ol {
  padding: 0;
}

.content ol li {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  border-bottom: 2px solid var(--prymari-white);
}

.css, 
.js,
.nodejs,
.git {
  display: block;
  padding: 10px;
  font-size: 30px;
  border-bottom: 4px double var(--border-prymari);
  text-shadow: -1px 1px 4px hsl(0deg 0% 0% / 68%);
}


.css {
  color: var(--css);
}

.js {
  color: var(--js);
}

.nodejs {
  color: #7cb602;
}

.git {
  color: var(--git);
}

.title {
  font-size: 40px;
  position: relative;
  padding: 5px;
  color: var(--text-color);
}

.text {
  margin-top: 10px;
  color: var(--text-color);
  background-color: rgba(--prymari-dark);
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 5px 10px  rgb(83, 83, 83);
}

@media (min-width: 620px) {
  .content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .title {
    font-size: 30px;
  }

  .text {
    font-size: 16px;
    height: min-content;
  }
}

@media (min-width: 920px) {
  .content {
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .content {
    display: grid;
    gap: 20px;
    grid-template-columns: 22rem 1fr;
  }

  .title {
    font-size: 50px;
  }

  .jsModifer {
    grid-column: 1 / 3;
  }
}