.header {
  position: sticky;
  top: 0;
  grid-area: header;
  background-image: linear-gradient(145deg, var(--prymari-dark), var(--nodejs));
  z-index: 120;
}

.headerLayout {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
}

.headerTopBar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.headerTopBar img {
  border: 4px double var(--border-prymari);
  box-shadow: 5px 5px black;
}

.logo {
  font-size: 30px;
  color:  var(--prymari-white)

}

.headerBnBurger {
  display: grid;
  justify-self: end;
  justify-content: center;
  align-items: center;

  margin: 0 17px 0 0;
  padding: 0;

  width: 25px;
  height: 25px;

  background-color: transparent;
  border: none;
}

.headerBnBurger svg {
  fill: var(--text-color);
}

.headerBnBurger:hover  svg,
.headerBnBurger:focus  svg {
  fill: var(--hover);
}


@media (min-width: 620px) {
  .headerLayout {
      grid-template-columns: auto 1fr;
  }

  .headerTopBar {
    display: flex;
    width: 100%;
    justify-content: center;
    /*height: 152px;*/
  }

  .logo {
    font-size: 50px;
    text-align: center;
  }

  .headerBnBurger {
      display: none;
  }
}

@media (min-width: 920px) {
  .header {
    border-bottom: none;
    position: fixed;
    width: 280px;
    height: 100%;
}


.headerLayout {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    align-items: start;
    height: 100%;
  }
}


