.header {
  position: sticky;
  top: 0;
  grid-area: header;
  background: transparent;
}

.headerLayout {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
}

.headerTopBar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.headerTopBar img {
  border: 4px double var(--border-prymari);
  box-shadow: 5px 5px black;
}

.logo {
  font-size: 30px;
  color:  var(--prymari-white)

}

.headerBnBurger {
  display: grid;
  justify-self: end;
  justify-content: center;
  align-items: center;

  margin: 0 17px 0 0;
  padding: 0;

  width: 25px;
  height: 25px;

  background-color: transparent;
  border: none;
}

.headerBnBurger svg {
  fill: var(--prymari-white);
}

.headerBnBurger:hover  svg,
.headerBnBurger:focus  svg {
  fill: var(--text-color);
}


@media (min-width: 620px) {
  .header {
    background-position-y: 30%, 153%, -8px, 100%;
    background-size: 20%, 25%, 10%, 100%;
    background-position-x: 105%, -6%, 95%, 100%;
  }

  .headerLayout {
      grid-template-columns: auto 1fr;
  }

  .headerTopBar {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .logo {
    font-size: 25px;
    text-align: center;
  }

  .headerBnBurger {
      display: none;
  }
}

@media (min-width: 920px) {
  .header {
    border-bottom: none;
    position: fixed;
    width: 280px;
    height: 100%;
    background: url(../../images/stars-set-1.svg), 
              url(../../images/stars-set-2.svg), 
              url(../../images/ufo-ship.svg);
    background-repeat: no-repeat;
    background-position-y: 0, 100%, 100%;
    background-size: 80%, 60%, 60%;
    background-position-x: 130%, 10%, 100%;
}


.headerLayout {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    align-items: start;
    height: 100%;
  }
}


