.header {
  position: sticky;
  top: 0;
  grid-area: header;
  border-bottom: 4px double white;
  background-color: var(--prymari);
  z-index: 120;
}

.headerLayout {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
}

.headerTopBar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.headerTopBar img {
  border: 4px double white;
  box-shadow: 5px 5px black;
}

.headerBnBurger {
  display: grid;
  justify-self: end;
  justify-content: center;
  align-items: center;

  margin: 0;
  margin-right: 17px;
  padding: 0;

  width: 25px;
  height: 25px;

  background-color: transparent;
  border: none;
}

.headerBnBurger span {
  height: 4px;
  width: 25px;
  background-color: white;
}

@media (min-width: 620px) {
  .headerLayout {
      grid-template-columns: auto 1fr;
  }

  .headerBnBurger {
      display: none;
  }
}

@media (min-width: 920px) {
  .header {
    border-bottom: none;
}

.headerLayout {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    border-right: 4px double white;
    border-bottom: none;
    align-items: start;
    height: 100%;
}
}