
@font-face {
  font-family: 'Press Start 2P';
  src: url('../public/fonts/PressStart2P-Regular.woff2') format('woff2'),
      url('../public/fonts/PressStart2P-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dela Gothic One';
  src: url('../public/fonts/DelaGothicOne-Regular.woff2') format('woff2'),
      url('../public/fonts/DelaGothicOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../public/fonts/IBMPlexMono-SemiBold.woff2') format('woff2'),
      url('../public/fonts/IBMPlexMono-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



:root {
  --prymari: #edf2fa;
  --prymari-dark: #d9dee7;
  --prymari-white: rgb(255, 255, 255);
  --prymari-opacity1: rgba(151, 151, 151, 0.929);
  --gap: 20px;
  --system: #f1f3f4;
  --border-prymari: var(--prymari-dark);
  --warm: rgb(229, 211, 181);
  --hover: #2c467c;
  --orange: rgb(255 157 48);
  --hyper-link: rgb(86, 137, 213);
  --css: #1d4492;
  --js: #ffd829;
  --git: #f14e32;
  --nodejs: #7cb602;
  --codeBg: black;

  --bg-color: hsl(0deg 0% 100%);
  --text-color: #173964e0;

  height: 100%; 
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  outline: none;
}


body {
  margin: 0;
  font-family: 'Dela Gothic One', 'Press Start 2P', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: inherit;
  font-weight: 400;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

img {
  object-fit: cover;
}

a {
  
  text-decoration: none;
}

strong {
  font-size: 18px;
  font-weight: normal;
  color: var(--git);
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

#root {
  height: 100%;
}

.wrapper {
  width: 60%;
  background-color: var(--prymari);
  padding: 10px;
  margin: 10px;

  box-shadow: 15px 13px black;
}

.active {
  position: relative;
}

.sticky {
  position: sticky;
  top: 60px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: var(--prymari);
}

.hyper-link {
  color: var(--hyper-link);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

.hyper-link:hover,
.hyper-link:focus {
  color: var(--css);
}

.title,
.subtitle {
  min-height: 100px;
  top: 0;
  color: var(--text-color);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.title h1 {
  font-size: 18px;
  text-transform: uppercase;

  border-bottom: 6px double var(--text-color);
}

.subtitle {
  top: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--prymari-opacity1);
}

.version {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  color: var(--border-prymari);
}

code {
  display: block;
  width: fit-content;
  color: var(--orange);
  font-family: 'IBM Plex Mono';
  padding: 5px;
  background-color: var(--codeBg);
  border-radius: 5px;
}

@media(min-width: 620px) {
  .container {
    grid-template-columns: min-content auto;
  }

  .title h1 {
    font-size: 35px;
  }

  .subtitle  {
    font-size: 16px;
  }
}

@media(min-width: 920px) {
  .subtitle {
    height: 92px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
    color: var(--border-prymari);
  }
}


@media (min-width: 1024px) {
  .container-wrapper {
    width: 1024px;
    margin: auto;
    margin-top: 60px;
    border: 4px double var(--border-prymari);
    background-color: var(--prymari-dark);
    border-radius: 10px;
    overflow: hidden;

    height: 80%;
  }
}