@font-face {
  font-family: 'Russo One';
  src: url('RussoOne-Regular.woff2') format('woff2'),
  url('RussoOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  --main-light: rgb(247, 247, 247);
  --main-light-border: rgb(195, 194, 194);
  --main-hover: rgb(229, 229, 229);
  --main-title: rgb(40, 42, 43);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  height: inherit;
}

h1 {
  font-family: 'Russo One';
  font-weight: normal;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  color: var(--main-title);
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

.active {
  position: relative;
  /*background-color: var(--main-hover);*/
}

.active::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 15px;

  background-color: #591eac;
}


.title {
  position: relative;
  border-bottom: 1px solid var(--main-light-border);
  height: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
